body {
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

header {
  text-align: center;
  flex-grow: 0;
}

#head {
  background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=41TVKj%2fJ&id=8477A4860C79BB5120B3EFE529E40D5CE2B3ABCF&thid=OIP.41TVKj_JV9cwKMpqH5vYgAHaDe&mediaurl=https%3a%2f%2fimg.tukuppt.com%2fad_preview%2f00%2f08%2f46%2f5c990442c79f1.jpg!%2ffw%2f980&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.e354d52a3fc957d73028ca6a1f9bd880%3frik%3dz6uz4lwN5Cnl7w%26pid%3dImgRaw%26r%3d0&exph=460&expw=980&q=%e6%98%9f%e7%a9%ba%e8%83%8c%e6%99%af%e5%9b%be1300x300&simid=608012162574662922&FORM=IRPRST&ck=777D256F1FFDE381F3F6A81E1F51D3F2&selectedIndex=77&itb=0);
}

#nav .item {
  display: inline-block;
  width: -webkit-fill-available;
}

h1 {
  display: inline-block;
}

#title {
  padding: 5rem 0;
}

#menubtn {
  margin-top: 3rem;
}

main {
  flex-basis: auto;
  flex-grow: 1;
  padding: 2rem 0;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
}

main .container{
  height: 100%;
  display: flex !important;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

main .segment {
  flex-grow: 1;
  margin: 0 !important;
}

.segment h4{
  padding-bottom: .5rem !important;
}

footer {
  flex-grow: 0
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #ddd;
}

.card {
  padding: .5rem;
}

#seller .list {
  padding: 0 5rem;
}

@media screen and (max-width: 479px) {
  p {
      width: -webkit-fill-available;
      text-align: center;
      line-height: 1.5rem;
      word-wrap: break-word;
  }
}
