body {
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

header {
  text-align: center;
  flex-grow: 0;
}

#head {
  background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=MuGSwoSd&id=C3E7C44C6CCD5035D0AAEF634AF7287F7BECC66C&thid=OIP.MuGSwoSdl55f003ClRKw-AHaNK&mediaurl=https%3a%2f%2fimg.tukuppt.com%2fad_preview%2f00%2f17%2f01%2f5c99c7110b17d.jpg!%2ffw%2f780&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.32e192c2849d979e5fd34dc29512b0f8%3frik%3dbMbse38o90pj7w%26pid%3dImgRaw%26r%3d0&exph=1386&expw=780&q=%e6%98%9f%e7%a9%ba%e8%83%8c%e6%99%af%e5%9b%be1300x300&simid=608046586714543057&FORM=IRPRST&ck=6172BBD6825476CEEDDD8B538E4D627F&selectedIndex=4&itb=0);
}

#nav .item {
  display: inline-block;
  width: -webkit-fill-available;
}

h1 {
  display: inline-block;
}

#title {
  padding: 5rem 0;
}

#menubtn {
  margin-top: 3rem;
}

main {
  flex-basis: auto;
  flex-grow: 1;
  padding: 2rem 0;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
}

main .container{
  height: 100%;
  display: flex !important;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

main .segment {
  flex-grow: 1;
  margin: 0 !important;
}

.segment h4{
  padding-bottom: .5rem !important;
}

footer {
  flex-grow: 0
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #ddd;
}

.card {
  padding: .5rem;
}

#seller .list {
  padding: 0 5rem;
}

@media screen and (max-width: 479px) {
  p {
      width: -webkit-fill-available;
      text-align: center;
      line-height: 1.5rem;
      word-wrap: break-word;
  }
}
